<div class="row btn-page">
    <div class="col-md-6 col-xl-4">
        <div class="card">
            <h6 class="card-header mb-2 text-muted">Escuela de Samba</h6>
            <div class="card-body">
                <!-- Contenedor Flex para los títulos y la imagen -->
                <div class="d-flex align-items-start mb-3">
                    <!-- Contenedor para los títulos -->
                    <div>
                        <h4 class="card-subsubtitle">Gres Valparaíso</h4>
                        <h6 class="card-subsubtitle mb-2 text-muted">Región de Valparaíso</h6>
                    </div>
                    <!-- La imagen -->
                    <div class="ms-auto">
                        <img src="assets/images/gallery-grid/valp.png" alt="Descripción de la imagen" class="card-image">
                    </div>
                </div>
                <p class="card-text">Aquí va una descripción más larga de la agrupación, la cual puede contener detalles adicionales
                    sobre la misma, como su historia, objetivos, logros, etc.</p>
                <!-- Botón y los iconos de contacto -->
                <div class="d-flex justify-content-between align-items-center">
                    <a href="https://www.instagram.com/gresvalparaiso/" target="_blank" class="btn btn-primary">Visitar Sitio</a>
                    <!-- Contenedor para los iconos de contacto -->
                    <div>
                        <a href="https://wa.me/+56951211475" target="_blank" class="me-2">
                            <i class="fab fa-whatsapp" style='font-size:30px'></i>
                        </a>
                        <a href="mailto:email@example.com">
                            <i class="fas fa-envelope" style='font-size:30px'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card">
            <h6 class="card-header mb-2 text-muted">Roda de Samba</h6>
            <div class="card-body">
                <!-- Contenedor Flex para los títulos y la imagen -->
                <div class="d-flex align-items-start mb-3">
                    <!-- Contenedor para los títulos -->
                    <div>
                        <h4 class="card-subsubtitle">Santiago Samba Club</h4>
                        <h6 class="card-subsubtitle mb-2 text-muted">Región Metropolitana</h6>
                    </div>
                    <!-- La imagen -->
                    <div class="ms-auto">
                        <img src="assets/images/gallery-grid/ssc.png" alt="Descripción de la imagen" class="card-image">
                    </div>
                </div>
                <p class="card-text">Aquí va una descripción más larga de la agrupación, la cual puede contener detalles adicionales
                    sobre la misma, como su historia, objetivos, logros, etc.</p>
                <!-- Botón y los iconos de contacto -->
                <div class="d-flex justify-content-between align-items-center">
                    <a href="https://www.instagram.com/s.sambaclub/" target="_blank" class="btn btn-primary">Visitar Sitio</a>
                    <!-- Contenedor para los iconos de contacto -->
                    <div>
                        <a href="https://wa.me/123456789" target="_blank" class="me-2">
                            <i class="fab fa-whatsapp" style='font-size:30px'></i>
                        </a>
                        <a href="mailto:email@example.com">
                            <i class="fas fa-envelope" style='font-size:30px'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card">
            <h6 class="card-header mb-2 text-muted">Agrupacion de Danza</h6>
            <div class="card-body">
                <!-- Contenedor Flex para los títulos y la imagen -->
                <div class="d-flex align-items-start mb-3">
                    <!-- Contenedor para los títulos -->
                    <div>
                        <h4 class="card-subsubtitle">Misturança</h4>
                        <h6 class="card-subsubtitle mb-2 text-muted">Región Metropolitana</h6>
                    </div>
                    <!-- La imagen -->
                    <div class="ms-auto">
                        <img src="assets/images/gallery-grid/mis.png" alt="Descripción de la imagen" class="card-image">
                    </div>
                </div>
                <p class="card-text">Aquí va una descripción más larga de la agrupación, la cual puede contener detalles adicionales
                    sobre la misma, como su historia, objetivos, logros, etc.</p>
                <!-- Botón y los iconos de contacto -->
                <div class="d-flex justify-content-between align-items-center">
                    <a href="https://www.instagram.com/misturanca/"  target="_blank" class="btn btn-primary">Visitar Sitio</a>
                    <!-- Contenedor para los iconos de contacto -->
                    <div>
                        <a href="https://wa.me/123456789" target="_blank" class="me-2">
                            <i class="fab fa-whatsapp" style='font-size:30px'></i>
                        </a>
                        <a href="mailto:email@example.com">
                            <i class="fas fa-envelope" style='font-size:30px'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card">
            <h6 class="card-header mb-2 text-muted">Bloco Carnavalesco</h6>
            <div class="card-body">
                <!-- Contenedor Flex para los títulos y la imagen -->
                <div class="d-flex align-items-start mb-3">
                    <!-- Contenedor para los títulos -->
                    <div>
                        <h4 class="card-subsubtitle">Blocco Chile</h4>
                        <h6 class="card-subsubtitle mb-2 text-muted">Región de Atacama</h6>
                    </div>
                    <!-- La imagen -->
                    <div class="ms-auto">
                        <img src="assets/images/gallery-grid/bc.png" alt="Descripción de la imagen"class="card-image">
                    </div>
                </div>
                <p class="card-text">Aquí va una descripción más larga de la agrupación, la cual puede contener detalles adicionales
                    sobre la misma, como su historia, objetivos, logros, etc.</p>
                <!-- Botón y los iconos de contacto -->
                <div class="d-flex justify-content-between align-items-center">
                    <a href="https://www.instagram.com/bloccochile/"  target="_blank" class="btn btn-primary">Visitar Sitio</a>
                    <!-- Contenedor para los iconos de contacto -->
                    <div>
                        <a href="https://wa.me/123456789" target="_blank" class="me-2">
                            <i class="fab fa-whatsapp" style='font-size:30px'></i>
                        </a>
                        <a href="mailto:email@example.com">
                            <i class="fas fa-envelope" style='font-size:30px'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card">
            <h6 class="card-header mb-2 text-muted">Agrupación Musical</h6>
            <div class="card-body">
                <!-- Contenedor Flex para los títulos y la imagen -->
                <div class="d-flex align-items-start mb-3">
                    <!-- Contenedor para los títulos -->
                    <div>
                        <h4 class="card-subsubtitle">Samba da Costa</h4>
                        <h6 class="card-subsubtitle mb-2 text-muted">Región de Valparaíso</h6>
                    </div>
                    <!-- La imagen -->
                    <div class="ms-auto">
                        <img src="assets/images/gallery-grid/sdc.png" alt="Descripción de la imagen" class="card-image">
                    </div>
                </div>
                <p class="card-text">Aquí va una descripción más larga de la agrupación, la cual puede contener detalles adicionales
                    sobre la misma, como su historia, objetivos, logros, etc.</p>
                <!-- Botón y los iconos de contacto -->
                <div class="d-flex justify-content-between align-items-center">
                    <a href="https://www.instagram.com/samba.dacosta/" target="_blank" class="btn btn-primary">Visitar Sitio</a>
                    <!-- Contenedor para los iconos de contacto -->
                    <div>
                        <a href="https://wa.me/123456789" target="_blank" class="me-2">
                            <i class="fab fa-whatsapp" style='font-size:30px'></i>
                        </a>
                        <a href="mailto:email@example.com">
                            <i class="fas fa-envelope" style='font-size:30px'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card">
            <h6 class="card-header mb-2 text-muted">Agrupación Musical</h6>
            <div class="card-body">
                <!-- Contenedor Flex para los títulos y la imagen -->
                <div class="d-flex align-items-start mb-3">
                    <!-- Contenedor para los títulos -->
                    <div>
                        <h4 class="card-subsubtitle">Arte Brasil Samba de Raiz</h4>
                        <h6 class="card-subsubtitle mb-2 text-muted">Región de Valparaíso</h6>
                    </div>
                    <!-- La imagen -->
                    <div class="ms-auto">
                        <img src="assets/images/gallery-grid/ab.png" alt="Descripción de la imagen" class="card-image">
                    </div>
                </div>
                <p class="card-text">Aquí va una descripción más larga de la agrupación, la cual puede contener detalles adicionales
                    sobre la misma, como su historia, objetivos, logros, etc.</p>
                <!-- Botón y los iconos de contacto -->
                <div class="d-flex justify-content-between align-items-center">
                    <a href="https://www.instagram.com/artebrasilsdr/" target="_blank" class="btn btn-primary">Visitar Sitio</a>
                    <!-- Contenedor para los iconos de contacto -->
                    <div>
                        <a href="https://wa.me/123456789" target="_blank" class="me-2">
                            <i class="fab fa-whatsapp" style='font-size:30px'></i>
                        </a>
                        <a href="mailto:email@example.com">
                            <i class="fas fa-envelope" style='font-size:30px'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


