<head>
  <title>Bienvenido | Registro Nacional de Agrupaciones Culturales</title>
</head>

<div class="form-container">
  <input type="text" [(ngModel)]="searchTerm" placeholder="Nombre de agrupación">

  <select [(ngModel)]="selectedType">
    <option value="">Tipo de Agrupación</option>
    <option *ngFor="let tipo of typeAgrupation" [value]="tipo">{{ tipo }}</option>
  </select>

  <select [(ngModel)]="selectedRegion">
    <option value="">Región</option>
    <option *ngFor="let region of nameRegion" [value]="region">{{ region }}</option>
  </select>

  <button (click)="filtrarAgrupaciones()">Buscar</button>
</div>
<div class="row btn-page">
  <div class="col-md-6 col-xl-4" *ngFor="let agrupation of agrupationsFiltradas">
      <div class="card">
          <h6 class="card-header mb-2 text-muted">{{ agrupation.typeagrupation }}</h6>
          <div class="card-body">
              <div class="d-flex align-items-start mb-3">
                  <div>
                      <h4 class="card-subsubtitle">{{ agrupation.nameagrupation }}</h4>
                      <h6 class="card-subsubtitle mb-2 text-muted">{{ agrupation.nameregion }}</h6>
                  </div>
                  <div class="ms-auto">
                    <img [src]="agrupation.safeLogoUrl" alt="{{ agrupation.nameagrupation }}" class="card-image">
                  </div>
              </div>
              <p class="card-text">{{ agrupation.descriptionagrupation }}</p>
              <div class="d-flex justify-content-between align-items-center">
                  <a [href]="agrupation.webagrupation" target="_blank" class="btn btn-primary">Visitar Sitio</a>
                  <div>
                      <a [href]="'https://wa.me/'+agrupation.phoneagrupation" target="_blank" class="me-2">
                          <i class="fab fa-whatsapp" style='font-size:30px'></i>
                      </a>
                      <a [href]="'mailto:'+agrupation.emailagrupation">
                          <i class="fas fa-envelope" style='font-size:30px'></i>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


